<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="\myproject\frontend\css\pagestyles.css"> <!-- Link para o CSS externo -->
</head>
<body>

    <!-- Overlay com a imagem do Batman como fundo -->
    <div id="background-overlay"></div>

    <!-- Texto que aparecerá após 10 segundos -->
    <div id="explore-text" class="hidden">
        <main>
            <section class="intro">
                <h1>Bem-vindo à nossa página!</h1>
                <p>Explore as opções acima para acessar a página administrativa ou conhecer mais sobre nós.</p>
            </section>
        </main>
       
     </div>
     <h1>Hello<h1>  

    <script src="../scripts/script-pages.js"></script>
</body>
</html>
